:root {
  --primary-color: #f0f0f0;
  --secondary-color: #ef0017;
  --background-color: #0a0a0a;
}
.landing-container {
  width: 100vw;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 10%;
  background-color: var(--background-color);
  padding: 2.5% 5% 2.5% 5%;
  margin-bottom: 20%;
  
}




