:root {
  --primary-color: #f0f0f0;
  --secondary-color: #ef0017;
  --background-color: #0a0a0a;
}
.landing-container {
  width: 100vw;
  height: auto;
  min-height: 90vh;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--background-color);
  padding: 5%;
}




