:root {
  --primary-color: #f0f0f0;
  --secondary-color: #ef0017;
  --background-color: #0a0a0a;
}
.landing-container {
  width: 100vw;
  height: 72vh;
  display: flex;

  padding-left: 5%;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--background-color);
}




