/* styles/fonts.css */

@font-face {
  font-family: "Sequel Black";
  src: url("../public/fonts/Sequel100Black-75.ttf") format("truetype");
}
@font-face {
  font-family: "Genesys";
  src: url("../public/fonts/Genesys.ttf") format("truetype");
}

@font-face {
  font-family: "Byotone Thin";
  src: url("../public/fonts/Byotone-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Byotone Medium";
  src: url("../public/fonts/Byotone-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Abstract";
  src: url("../public/fonts/meeksa.ttf") format("truetype");
}

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #fc4444;
  --background-color: #0a0a0a;
}


.line {
  border: 1px solid white;
  margin: 0;
  margin-bottom: 10%;
}

.textxsmall {
  font-family: "Byotone Thin", sans-serif;
  font-size: 0.8rem;
  color: white;
}
.textsmall {
  font-family: "Byotone Thin", sans-serif;
  font-size: 1rem;
  color: white;
}

.textmedium {
  font-family: "Byotone", sans-serif;
  font-size: 1rem;
  color: white;
}
.textlarge {
  font-family: "Genesys", sans-serif;
  font-size: 3rem;
  color: white;
}
.texttitle {
  font-family: "Genesys", sans-serif;
  color: white;
  margin: 0;
}

p {
  font-family: "Byotone Medium", sans-serif;
  font-size: 1.5rem;
  color: white;
}
