/* styles/fonts.css */

@font-face {
  font-family: "Sequel Black";
  src: url("../public/Sequel100Black-75.ttf") format("truetype");
}
@font-face {
  font-family: "Genesys";
  src: url("../public/Genesys.ttf") format("truetype");
}

@font-face {
  font-family: "Byotone Thin";
  src: url("../public/Byotone-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Byotone Medium";
  src: url("../public/Byotone-Medium.ttf") format("truetype");
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground-rgb);
  font-family: var(--font-family);
  background-color: black;
}

.textsmall {
  font-family: "Byotone Thin", sans-serif;
  font-size: 1rem;
  color: white;
}
.textlarge {
  font-family: "Genesys", sans-serif;
  font-size: 2.5rem;
  color: white;
}
.texttitle {
  font-family: "Genesys", sans-serif;
  color: white;
}

p {
  font-family: "Byotone Medium", sans-serif;
  font-size: 1.5rem;
  color: white;
}
