.projects-component{
  z-index: 100;
  height: 100%;
}


.projects-container {
  display: flex;
  height: 10;
  opacity: 0;
  background-color: #0a0a0a;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}





/*This is the circles section*/
.circles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  width: 8%;
  background: linear-gradient(to bottom, #FD2000, #DF007C);

  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #0a0a0a;
  transition: background-color 0.5s ease;
  cursor: pointer;
  margin-top: 25px;
}

.circle:hover {
  background-color: #0a0a0a;
}


.spacer-container {
  height: 100%;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding-left: 2.5%;

}

.spacer-container p {
  color: black;
  font-size: 4rem;
}













