.projects-content {
  display: flex;
  margin: 1%;
  width: 100%;
}

/*Image for project*/
.project-image {
  margin: 1%;
  border: 1px solid white;
}

/*3 sections of project info*/
.projects-content-left {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}

.projects-content-middle {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.projects-content-right {
  flex-grow: 1;
}

/*Sections of the projects info*/
.middleleft {
  margin-top: 20vh;
}
.bottomleft {
  margin-top: 12vh;
}

.idea {
  margin-top: 15vh;
  height: 55%;
  width: 50%;
  overflow: hidden;
}

.ideabody {
  text-wrap: pretty;
  text-overflow: ellipsis;
}

.bottommiddle {
  margin-top: 12vh;
}

/*Sizing For Iphone*/
@media screen and (max-width: 600px) {
  .projects-content-right {
    display: 1;
  }
  .t1 {
    font-size: 2rem;
  }
  .m {
    font-size: 1rem;
  }
  .t3 {
    font-size: 1.5rem;
  }
  .idea {
    width: 75%;
  }
}
