.projects-component{
  z-index: 100;
  height: 100%;
}


.projects-container {
  display: flex;
  height: 10;
  opacity: 0;
  background-color: #0a0a0a;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  height: 1px dotted red;
}





/*This is the circles section*/
.circles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  width: 8%;
  background: linear-gradient(to bottom, #FD2000, #DF007C);

  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #0a0a0a;
  transition: background-color 0.5s ease;
  cursor: pointer;
  margin-top: 25px;
}

.circle:hover {
  background-color: #0a0a0a;
}


.spacer-container {
  height: 100%;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
  padding-right: 7.5%;

}

.spacer-container p {
  color: black;
  font-size: 4rem;
}

.texttitle{width: 80% ;}



/* Styles for the button container */
.toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 20%; /* Full width */
  height: 100%; /* Full height */
  transition: transform 0.5s;
}

/* Common styles for both up and down arrow */
.toggle-button::before,
.toggle-button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  transition: transform 0.5s;
}

/* Styles for the up arrow */
.toggle-button.up-arrow::before {
  border-bottom-color: #000; /* Change color as needed */
  top: 50%; /* Center vertically */
 
  transform: translate(-50%, -50%) rotate(180deg); /* Center and rotate the arrow to face up */
}

/* Styles for the down arrow */
.toggle-button.down-arrow::before {
  border-bottom-color: #000; /* Change color as needed */
  top: 50%; /* Center vertically */

  transform: translate(-50%, -50%) rotate(0deg); /* Center and keep arrow facing down */
}
