.projects-component {
  z-index: 50;
  height: 10vh;
}

/*Code for projects info container*/
.projects-container {
  display: flex;
  height: 0vh;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  background-color: #0a0a0a;
  border: 1px dotted red;
}

/*Code Circle and Circle Container*/
.circles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  background: linear-gradient(to bottom, #fd2000, #df007c);
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #0a0a0a;
  transition: background-color 0.5s ease;
  cursor: pointer;
  margin-top: 25px;
}

.circle:hover {
  background-color: #0a0a0a;
}

/*Code for the New Projects Spacer*/
.spacer-container {
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
}

.spacer-container p {
  color: black;
}

.t1 {
  padding-top: 1%;
  width: 100%;
}

/*Code for the toggle button*/
.toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 20%; /* Full width */
  height: 100%; /* Full height */
  transition: transform 0.5s;
}

.toggle-button::before,
.toggle-button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  transition: transform 0.5s;
}

.toggle-button.up-arrow::before {
  border-bottom-color: #000;
  top: 50%; /* Center vertically */

  transform: translate(-50%, -50%) rotate(180deg);
}

.toggle-button.down-arrow::before {
  border-bottom-color: #000;
  top: 50%; /* Center vertically */

  transform: translate(-50%, -50%) rotate(0deg);
}
