.projects-container {
  display: flex;
  height: 65vh;
  background-color: #0a0a0a;
  z-index: -100;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.projects-content {
  display: flex;
  width: 70%;
  position: relative;
  margin: 1%;

}

.project-image{
 width:30%;

 margin: 1%;
}

.projects-content-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.projects-content-right{
  width: 50%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;

}




/*This is the circles section*/
.circles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8%;
  background: linear-gradient(to bottom, #FD2000, #DF007C);
  z-index: 10;
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #0a0a0a;
  transition: background-color 0.5s ease;
  cursor: pointer;
  margin-top: 25px;
}

.circle:hover {
  background-color: #0a0a0a;
}











/*Card content section*/
.top-right {
 margin-left: -1%;
}

.middle-right {
  margin-top: 40%;
}
.middle-right p {
  margin: 0;
}
.pushup {
  margin-top: 20;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 100px;
}
.bottom-right p {
  margin: 0;
}

.middle-middle {
 width: 300px;
 right: 0;
 margin-top: 30%;

}

.middle-middle p {
  text-align: right;
}

.bottom-middle {
  position: absolute;
  bottom: 0;
  right: 0;
}

.content-card {
  position: absolute;
  right: 1%;
  height: 60%;
  width: 25%;
  margin-top: 1%;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 75%);
  border: 1px solid white;
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
}


