.projects-container {
  display: flex;
  height: 65vh;
  background-color: #0a0a0a;
  z-index: -100;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.projects-content {
  display: flex;
  width: 70%;
  position: relative;
  margin: 1%;
}

.project-image{
 width:30%;
 margin: 1%;
}

.projects-content-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px dotted green;
  
}

.projects-content-right{
  width: 50%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;

}




/*This is the circles section*/
.circles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8%;
  background: linear-gradient(to bottom, #FD2000, #DF007C);
  z-index: 10;
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #0a0a0a;
  transition: background-color 0.5s ease;
  cursor: pointer;
  margin-top: 25px;
}

.circle:hover {
  background-color: #0a0a0a;
}











/*Card content section*/



.content-card {
  position: absolute;
  right: 1%;
  height: 60%;
  width: 25%;
  margin-top: 1%;
  border: 1px dotted white;
}



