.page {
  width: 101vw;
}
.skills-section {
  height: 50vh;
  width: 100vw;
  margin-left: -1%;
  background-color: #2d132c;
}

.experince-section {
  height: 50vh;
  width: 100vw;
  margin-left: -1%;
  background-color: #2d132c;
}
