.landing-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  padding-top: 10%;
  padding-left: 5%;
  justify-content: flex-start; 
  align-items: flex-start; 
  outline:1px dotted red;
}

.landing-cluster,.landing-content{
  font-size: 2.5rem;
  color: white;
  margin: 10px 0; 
}
.landing-cluster{
  outline:1px dotted blue;
  
}
.landing-content{
  outline:1px dotted green;
}


.landing-typewriter {
  font-size: 5rem;
}