.landing-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  padding-top: 10%;
  padding-left: 5%;
  justify-content: flex-start;
  align-items: flex-start;
}

.landing-cluster,
.landing-content {
  font-size: 2.5rem;
  color: white;
  margin: 10px 0;
}

.landing-typewriter {
  font-size: 5rem;
}

.landing-cluster {
  margin-left: 5%;
  margin-top: -5%;
  height: 60vh;
  width: 45vw;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  z-index: 0;
  position: relative;
}

.wave-box {
  background-color: black;
  overflow: hidden;
  height: 15vh;
  width: 100%;
  outline: 1px solid gray;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  z-index: 0;
  margin-left: -15%;
  margin-top: -5%;
}
.wave-text {
  font-size: 1.5rem;
  padding: 2.5%;
  color: #32cd32;
}
.wave {
  background-image: url("../../public/grid.png");
  background-size: 200% 200%;
  outline: 1px solid gray;
}

.updates-box {
  border-radius: 25px;
  grid-row: span 2;
  grid-column: span 2;
  border: 2px solid white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
  width: 45%;
  overflow: hidden;
  background-color: black;
  z-index: 2;
}
.updates-header {
  font-size: 1.5rem;
  padding: 5%;
  height: 10%;
}

.updates-content {
  font-size: 1rem;
  height: 75%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(5, 1fr);
}

.grid-item {
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  text-overflow: ellipsis;
}

.image-box {
  background-image: url("../../public/me.png");
  background-size: cover; /* Adjust the sizing to your needs */
  grid-row: 2 / span 4;
  grid-column: 2 / span 3;
  width: 100%;
  height: 120%;
  z-index: 1;
  margin-top: -10%;
}
