.projects-container {
  display: flex;
  height: 40vh;
  background-color: #333;
}

.projects-content {
  display: flex;
  width: 95%;
  position: relative;
  margin: 1%;
}

.circles-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 5%;
  padding-left: 3%;
  padding-top: 1%;
  background-color: whitesmoke;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  transition: background-color 0.5s ease;
  cursor: pointer;
  margin-top: 25px;
}

.circle:hover {
  background-color: #555;
}

.circle.selected {
  background-color: red;
}

p {
  font-family: "Sequel Black", sans-serif;
  font-size: 1.5rem;
  color: white;
}

.top-right {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.5rem;
}

.middle-right {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0;
  transform: translateY(-50%);
}

.bottom-right {
  position: absolute;
  bottom: 0;
  left: 0;
}

.top-middle {
  position: absolute;
  top: 0;
  left: 70%;

  height: 100px;
  width: 250px;
  transform: translateX(-50%);
}

.middle-middle {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 250px;
  transform: translate(-50%, -50%);
}

.bottom-middle {
  position: absolute;
  bottom: 0;
  left: 70%;
  transform: translateX(-50%);
}

.content-card {
  position: absolute;
  right: 1%;

  background-image: url("../../public/scifi.jpg");
  height: 36%;
  width: 15%;
  margin-top: 1%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 75%);
  border: 1px solid white;
}
