
.projects-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  outline: 1px dotted red;
}

.top-section {
  height: var(--topSectionHeight);
  display: flex;
  box-sizing: border-box;
}

.left-card-container,
.right-card-container {
  width: 45%;
}

.left-card,
.right-card {
  position: relative;
}

.left-card {
  margin-bottom: 15vh;
}

.right-card {
  margin-top: 14vh;
}

.card-line {
  position: absolute;
  top: 50%;
  width: 11%;
  height: 5px;
  background-color: white;
  z-index: 9999;
}

.card-line.left-card-line {
  left: 100%;
  transform: translateY(-50%);
}

.card-line.right-card-line {
  right: 100%;
  transform: translateY(-50%);
}

.line-container {
  width: 10%;
  position: relative;
}

.add-button-container {
  height: 20%;
}

.add-button {
  cursor: pointer;
}
