/* projects.css */

.projects-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-section {
  height: var(--topSectionHeight);
  display: flex;

  box-sizing: border-box;
}

.left-card-container {
  width: 45%;

}

.left-card {
  margin-bottom: 15vh;
  position: relative;
}

.left-card-line {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 11%;
  height: 5px;
  background-color: white;
  z-index: 9999;
}

.line-container {
  width: 10%;

  position: relative;
}

.right-card-container {
  width: 45%;

}

.right-card {

  margin-top: 14vh;
  position: relative;
}

.right-card-line {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  width: 11%;
  height: 5px;
  background-color: white;
}

.add-button-container {
  height: 20%;
}

.add-button {
  cursor: pointer;
}
